.nav-size-bar{
        width:60%;
        margin-left: auto;
        margin-right: auto;
}
.link{
        font-size: 25px;
        margin-left: 20px;
        color:white;
}
.link:hover{
        
        color:yellow;
}

.visited{
        font-size: 40px;
        color:yellow;
}
.visited a{
        color:yellow;
}


